<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="checkUsage" value="1" />
        <option name="database" value="PostgreSQL" />
        <option name="theUsageCount" value="1666144456698" />
      </Profile>
    </option>
  </component>
</application>